[submodule "tests/conformance/test262-parser-tests"]
	path = tests/conformance/test262-parser-tests
	url = https://github.com/tc39/test262-parser-tests.git
[submodule "tests/conformance/test262"]
	path = tests/conformance/test262
	url = https://github.com/tc39/test262.git
[submodule "tests/conformance/typescript"]
	path = tests/conformance/typescript
	url = https://github.com/microsoft/TypeScript.git
[submodule "tests/conformance/babel"]
	path = tests/conformance/babel
	url = https://github.com/babel/babel.git
[submodule "tests/conformance/eslint"]
	path = tests/conformance/eslint
	url = https://github.com/eslint/eslint
[submodule "tests/conformance/eslint-plugin-react"]
	path = tests/conformance/eslint-plugin-react
	url = https://github.com/jsx-eslint/eslint-plugin-react.git
[submodule "tests/conformance/eslint-plugin-unicorn"]
	path = tests/conformance/eslint-plugin-unicorn
	url = https://github.com/sindresorhus/eslint-plugin-unicorn.git
[submodule "tests/conformance/eslint-plugin-promise"]
	path = tests/conformance/eslint-plugin-promise
	url = https://github.com/eslint-community/eslint-plugin-promise.git
[submodule "tests/conformance/eslint-plugin-jsdoc"]
	path = tests/conformance/eslint-plugin-jsdoc
	url = https://github.com/gajus/eslint-plugin-jsdoc.git
[submodule "tests/conformance/eslint-plugin-sonarjs/sonarjs-src"]
	path = tests/conformance/eslint-plugin-sonarjs/sonarjs-src
	url = https://github.com/SonarSource/SonarJS
[submodule "tests/conformance/eslint-plugin-typescript-eslint/typescript-eslint-src"]
	path = tests/conformance/eslint-plugin-typescript-eslint/typescript-eslint-src
	url = https://github.com/typescript-eslint/typescript-eslint
